

/** Body **/
body{
    background-color: lightslategray
}

/**for images**/
 .img-custom{
     height: 280px;
     width:50%;
     text-align:center
 }

/**for padding**/
#pad_1{
     padding-bottom: 12px;
}

#pad_2{
     
}

/**button**/
.custom_btn{
    background-color:darkslategrey;
    margin-top: 5px;
}

/**custom form**/
.custom_form{
      margin-top: 165px;
}

